<div class="cadastro-usuario" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="cadastro-usuario-box">
      <mat-card-header>
        <mat-card-title>Cadastrar-se</mat-card-title>
      </mat-card-header>
      <form class="example-form"
      [formGroup]="formularioCadastro" (ngSubmit)="onSubmit()">
       <mat-card-content>
         <mat-form-field class="example-full-width">
           <mat-label>Nome:</mat-label>
           <input matInput
                  [formControl]="nomeFormControl"
                  placeholder="Informe seu nome Completo!"
                  required>
           <mat-error *ngIf="nomeFormControl.hasError('required')">Nome é obrigatório</mat-error>
           <!--'ngIf' = Diretiva Estrutural inclui ou retira trechos dinamicamente-->
         </mat-form-field>

         <mat-form-field class="example-full-width">
           <mat-label>E-mail:</mat-label>
           <input matInput
                  [formControl]="emailFormControl"
                  placeholder="Informe seu email!"
                  required>
           <mat-error *ngIf="emailFormControl.hasError('required')">
             Email é obrigatório
           </mat-error>
           <mat-error *ngIf="!emailFormControl.hasError('required') && emailFormControl.hasError('email')">
             Favor inserir um e-mail válido
           </mat-error>
         </mat-form-field>

         <mat-form-field class="example-full-width">
           <mat-label>Data de Nascimento:</mat-label>
           <input matInput
                  [formControl]="dataNascimentoFormControl"
                  placeholder="Informe sua data de nascimento!"
                  [matDatepicker]="picker"
                  [min]="dataMin"
                  [max]="dataMax"
                  name="dataNascimento"
                  required>
           <mat-error *ngIf="dataNascimentoFormControl.hasError('required')">Data de nascimento é obrigatória</mat-error>
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker [startAt]="dataInicio"></mat-datepicker>
         </mat-form-field>

         <mat-form-field class="example-full-width">
           <mat-label>Senha:</mat-label>
           <input matInput
                  [formControl]="senhaFormControl"
                  placeholder="Informe uma senha com no mínimo 8 caracteres!"
                  [type] = "esconderSenha ? 'password' : 'text'"
                  (input)="onDigitarSenha()"
                  required>
           <mat-error *ngIf="senhaFormControl.hasError('required')">
             Senha obrigatória
           </mat-error>
           <mat-error *ngIf="!senhaFormControl.hasError('required') && senhaFormControl.hasError('minlength')">
             Favor inserir 8 caracteres ou mais
           </mat-error>
           <mat-icon matSuffix (click) = "esconderSenha = !esconderSenha">
             {{ esconderSenha ? 'visibility_off' : 'visibility'}}
           </mat-icon>
         </mat-form-field>

         <mat-form-field class="example-full-width">
           <mat-label>Confirmação:</mat-label>
           <input matInput
                  [formControl]="confirmarSenhaFormControl"
                  placeholder="Confirme a senha!"
                  [type] = "esconderConfirmacaoSenha ? 'password' : 'text'"
                  (input)="onDigitarSenha()"
                  required>

           <mat-error *ngIf="confirmarSenhaFormControl.hasError('required')">
             Confirmação obrigatória
           </mat-error>

           <mat-error *ngIf="confirmarSenhaFormControl.invalid && !confirmarSenhaFormControl.hasError('required')">
             As senhas não conferem
           </mat-error>

           <mat-icon matSuffix (click) = "esconderConfirmacaoSenha = !esconderConfirmacaoSenha">{{ esconderConfirmacaoSenha? 'visibility_off' : 'visibility'}}</mat-icon>
         </mat-form-field>
         <button mat-raised-button
                 type = "submit"
                 class = "btn-block"
                 color="primary"
                 [disabled]="!formularioCadastro.valid">
           Finalizar Cadastro</button>
       </mat-card-content>
      </form>
  </mat-card>
</div>
