<div class="login" fxLayout="row" fxLayoutAlign="center center" >
  <mat-card class="login-box">
    <mat-card-header>
      <mat-card-title>
        Log in
      </mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            (input)="onDigit()"
            [formControl]="emailFormControl"
            placeholder="Informe seu email!"
            required>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email é obrigatório
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Informe um email válido!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input
            matInput
            (input)="onDigit()"
            [formControl]="senhaFormControl"
            placeholder="Informe sua senha!"
            [type]="esconderSenha ? 'password' : 'text'"
            required>
            <mat-icon matSuffix (click) = "esconderSenha = !esconderSenha">
              {{ esconderSenha ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          <mat-error *ngIf="senhaFormControl.hasError('required')">
            Senha é obrigatória
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="mensagemErro">{{mensagemErro}}</mat-error>
      </mat-card-content>
      <button mat-raised-button
              class = "btn-block"
              [disabled]="!formularioLogin.valid"
              color="primary">Log in
      </button>
    </form>
  </mat-card>
</div>
