.space{
  margin-left: 10px;
}

.informacoes{
  height: 590px;
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.table-infos tr, .table-infos th{
  padding-right: 20px !important;
}

.informacoes .mat-card {
  padding: 40px 70px 50px;
}

.informacoes-box{
  position: relative;
  opacity: 1;
  width: 100%;
  padding: 60px 50px 40px 50px;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 300px;
}

.informacoes-box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.informacoes mat-card-header {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  display: block;
  margin-top: 10px;
  font-weight: 700;
  padding-bottom: 10px;
}

.informacoes mat-card-header {
  margin: 0px;
}

mat-card-title{
  margin-bottom: 15px !important;
}

.rendimento{
  height: 590px;
  align-items: flex-start !important;
  margin-top: 50px !important;
  margin-left: 50px !important;
}

.rendimento-box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.rendimento .mat-card {
  padding: 40px 70px 50px;
}

.rendimento mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
  padding: 10px;
}

.rendimento .btn-block {
  width: 20%;
}

.rendimento mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.rendimento-box{
  position: relative;
  opacity: 1;
  width: 100%;
  padding: 60px 50px 40px 50px;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 590px;
}

.rendimento .table-rendimento{
  min-width: 100%;
  max-width: 590px;
  width: 100%;
}
